<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="nav navbar-nav">
          <a class="nav-item nav-link" href="/">Inicio</a>
          <a class="nav-item nav-link" href="/libros">Libros</a>
          <a class="nav-item nav-link" href="/nosotros">Nosotros</a>
          <a class="nav-item nav-link" href="/admin/login">Login</a>
      </div>
  </nav>
  <div class="containter">
    <br>